@charset "utf-8";
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: #666;}
body{
    font-family: 'Playfair Display', serif;
    font-size: 12px ;
    line-height: 28px;
    color: #666;
    min-width: 1320px;
    background: url(../images/leaves_bg.png) fixed no-repeat center; 
    margin: auto;}

/*잎배경*/
#header{
    width: 100%;
    margin: 0 auto;
    height: 932px;
    background: url(../images/main_background.png) no-repeat center top;
 
}

/*네비전체*/
#membership{
    width: 1320px;
    margin: auto;
    height: 120px;
    position: relative;
    /*background-color: rgba(143, 142, 140,0.2);*/
}

.top{
    float: right;
    margin: 10px auto;
    height: 40px;
}

.top >li {
    float: left; 
    display: block;
    text-align: center; 
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    
}
.top > li > a{
    color: #fff;
    font-size: 10px;
    padding: 1px 20px;  
    display: block;
    
}

.top li a:hover{
    background-color:  rgba(143, 142, 140,0.2);
}


/*메인로고*/
.logo{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -52px;
    z-index: 99;
}


/*메인메뉴바*/

#nav_wrap{
    width: 1320px;
    margin: auto;
    
}
.nav{
    float: left;
   }

.nav li{
    float: left;
    display: block;
    margin: 100px 120px 0 0;
}

.nav2{
    float: right;
}

.nav2 li{
    float: left;
    display: block;
    margin: 40px 0 0 120px;
}
#nav_wrap li a{
    color: #e4cb75;
    font-size: 18px;
    font-weight: bold;
    
}
#nav_wrap li a:hover {
    text-shadow: 2px 2px 2px rgba(228, 203, 117, 0.9);
    color: #fff;
    ;
}


/*예약박스*/

#booking_box{
    width: 1320px;
    height: 635px;
    margin: auto;   
}

#booking{
    width: 1200px;
    height: 503px;
    background-color: #0f4514;
    margin: 30px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.typelogo{
    padding: 40px 0 80px 40px;
}
#booking_input{
    width: 600px;
    padding: 0 0 40px 40px;
   }

.location {
       background-color: #0f4514;
       border: none;
       padding: 5px;
       border-bottom: 1px solid #9e8427;
       width: 400px;
       color: #9e8427;
       font-size: 18px;
       font-family: 'Playfair Display', serif;
       outline-style: none;
   }
.location option:hover{
       background-color: #9e8427;
       color: #0f4514; 
   }

.calender{
    background-color: #0f4514;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #9e8427;
    width: 200px;
    background:url(../images/icon_wallpaper.png) no-repeat 90% center;
    margin:31.5px 20px 31.5px 0;
    width:200px;
    color:#9e8427;
    outline-style: none;
    
}

.select input::placeholder {
	color:#9e8427;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
   
}

.people{
    background-color: #0f4514;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #9e8427;
    color: #9e8427;
    width: 165px ;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    outline-style: none;
}




.booking_text{
    float: left;
}

.booking_img{  
    float: right;
}

.booking_btn{
    float: right;
    padding: 0 60px 30px 0 ;
}

/*컨텐츠2 바로가기메뉴*/

#content_menu{
    width : 1200px;
    height: 400px;
    margin: 30px auto;
    position: relative;
}

#content_menu li{
    float: left;
}

.menu_left{
    position: absolute;
    left: 0px;
}

.menu_right{
    position: absolute;
    right: 0;
}

.border_L h1{  
    color: #9e8427;
    padding: 100px 0 0 135px;
    font-size: 26px;
}
.border_L p{
    font-size: 16px;
    color: #bbb49a;
   padding: 20px 0 0 140px;
}

.border_L{
    position: absolute;
    left: 150px; 
    top: 50px;
    border: 1px solid #9e8427;
    width: 400px;
    height: 230px;
    line-height: 24px;
    z-index: -1;  
    
}

.border_R{
    position: absolute;
    right: 150px; 
    top: 50px;
    border: 1px solid #9e8427;
    width: 400px;
    height: 230px;
        line-height: 24px;
    z-index: -1;  
}


.border_R h1{  
    color: #9e8427;
    padding: 100px 80px 0 40px;
    font-size: 26px;
}
.border_R p{
    font-size: 16px;
    color: #bbb49a;
    padding: 20px 140px 0 40px;
}


/*컨텐츠3*/
#content3{
    clear: both;
    width: 100%;
    margin: 100px auto;
    background: url(../images/content3_bg.png) no-repeat top center;
    height: 400px;
    
    
}
.c3_inner{
    width: 1320px;
    height: 500px;
    margin: auto;
    position: relative;
}

.c3_inner img{
    position: absolute;
    left: 0;
    top: -100px;
}
.c3_text {
    position: absolute;
    left: 50%;
    top: 130px;
    color: #d8dcd6;
    font-size: 16px;
}

.text2{
    position: absolute;
    left:45px;
    top: 100px;
}

.viewmore_btn{
    position: absolute;
    right: 20%;
    bottom: 70px;
}


/*컨텐츠4_슬라이드배너*/
#c4_banner{
    width: 1320px;
    height: 700px;
    margin: auto;

}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 1000px;
    height:550px;
    object-fit: cover;
  }

  /*컨텐츠5_lounge*/

  #c5_lounge{
      width: 100%;
      height: 400px;
      margin: 280px 0;
      background-color: #3b513d;
  }

  #lounge_inner{
      width: 1320px;
      margin: auto;
      position: relative;
  }

  .photobox .lounge_text{
      position: absolute;
      left: 0;
      top: -125px;
  }

  .photobox ul {
      float: left;
      margin-left:  90px;
      margin-top: -90px;
      
  }

  .photobox ul li{
      float: left;
      width: 369px;
      height: 460px;
      margin-right: 20px;
      
      }

.photobox ul li:nth-child(2){
  margin-top: 130px;
}


/*컨텐츠6 더알아보기*/

#c6_explore{
    background: url(..//images/c6_explore_bg.png) no-repeat center;
    height: 730px;
}


#c6_explore_inner{
    width:  800px;
    height: 800px;
    margin: auto;
    
}
/*c6_explore_text 글자부분*/
.c6_explore_text{
    height: 105px;
    position: relative;
    margin-bottom: 20px;
    
}
.c6_explore_text .pattern{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -52px;
    
}
.c6_explore_text h5{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -93.845px;
    z-index: 99;
    font-size: 30px;
    color: #000;   
}

/*c6_이미지부분*/

.c6_gallery{
    width: 721px;
    height: 440px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.c6_gallery ul li{
    float: left;
    width: 227px;
    height: 205px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}

.c6_gallery li:nth-child(3n){
    margin-right: 0;
}


.c6_gallery li:hover img{
    transform: scale(1.2, 1.2);
}

.c6_gallery img{
    transition: all 1s;
}

/*c6_구독하기*/

#c6_subscribe{
    width: 701px;
    height: 160px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px ;
    border: 1px solid #ccc;
    padding: 15px 25px ;
    box-sizing: border-box;
}

#c6_subscribe h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#c6_subscribe p{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #666;
}
.c6_form{
    float: left;
}
#c6_subscribe .email{
    background-color: #ccc;
    outline-style: none;
    width: 300px;
    height: 25px;
    border: none;
}

#c6_form .email{
    color: #eee;
}
#c6_subscribe .submit{
    background-color: #999;
    color: #eee;
    width: 100px;
    height: 25px;
    border: none;
    margin-left: 5px;
}

.c6_media{
   float: right;
   }

.c6_media li{
    float: left;
    display: block;
    padding: 0 10px 30px 0;
}


#footer{
    background-color: #8a948a;
    height: 300px;
    width: 100%;
    margin: auto;
    margin-top: 100px;

}

.footer_inner{
    width: 1320px;
    margin: auto;
    height: 300px;
    color: #fff;
    }

.footer_left{
    float: left;
    padding-top: 20px;
    }

.footer_left h4{
    font-size: 24px;
}
.footer_left h6{
    font-size: 14px;
}

.footer_left p{
    margin-bottom: 20px;
    line-height: 16px;
}
.footer_right{
    float: right;
    padding-top: 40px;
}

.footer_right h3{
    font-size: 14px;
}
.footer_right p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 14px;
}

.footer_inner .copyright{
font-size: 16px;
text-align: center;
padding-top: 250px;
margin-right: 200px;

}